head
  title= title
  link(href='http://fonts.googleapis.com/css?family=Lusitana:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/stylesheets/common.css', media='screen')
  