// latest information
div#latest-information
	// revision information
	div#commit-context.column
		h2 Commit Information
		ul
			li
				em.highlight Last Commit:&nbsp;
				=reports[0].revision.commitMessage
			li
				em.highlight Last Committer:&nbsp;
				=reports[0].revision.committer
			li
				em.highlight Number of Commits:&nbsp;
				=reports.length
			li
				em.highlight Time of Last Commit:&nbsp;
				=new Date(reports[0].revision.timeOfCommit).toLocaleDateString() + '&nbsp;' + new Date(reports[0].revision.timeOfCommit).toLocaleTimeString()
	// javascript performance
	div#javascript-performance.column
		h2 Latest JavaScript Performance
		ul
			li
				em.highlight Page Load Time:&nbsp;
				=reports[0].javascript[0].value + 'ms'