//navigation
ul.tab-navigation
	li
		// first tab, worst peforming graph
		a(href='/projects/' + name) Worst Performing HTTP Rules
	li
		// best performing http rules
		a(href='/projects/' + name + '/best') Best Performing HTTP Rules
	li
		// js rules tab
		a(href='/projects/' + name + '/javascript') JavaScript Performance
		