div#page
	div#content
		h1 Create Build Files
		p Fill out the form below to create the appropriate build files.
		-if(messages !== undefined)
			-var property, i;
			-for (property in messages)
				- if(messages.hasOwnProperty(property))
					- if(messages[property] !== undefined)
						-for(i = 0; i < messages[property].length; i = i + 1)
							p.error= messages[property][i]
		form#build-form(method='post')
			fieldset
				ul
					li
						label(for='project') Name of your <em>project</em>:
						input(type='text', name='project', id='project')
					li
						label(for='user-name') <em>User name</em> for revision software:
						input(type='text', name='user-name', id='user-name')
					li
						label(for='password') <em>Password</em> for revision software:
						input(type='text', name='user-password', id='password')
					li
						label(for='repo') Name of the <em>repository</em>:
						input(type='text', name='repository', id='repo')
					li
						label(for='site') URL of the <em>site</em> you want to test:
						input(type='text', name='site', id='site')
					li
						label(for='marlin') URL of the <em>Marlin server</em>:
						input(type='text', name='marlin', id='marlin')
			fieldset.managers
				label(for='manager') Please select which <em>management software</em> you are building for:
				select(name='manager', id='manager')
					option(value='select') Please Select
					option(value='ant') Apache Ant
			input(type='submit', value='Download Build Files', name='build-file')
//footer
include includes/footer
// scripts
include includes/scripts
