div#header
	// logo
	img(id='logo', src='images/logo_white.png', alt='Marlin Logo')
	- if (projects.length)
		form( method='post', id='project-selection')
			select(name='projects')
				- each project in projects
					option(value=project.project)!= project.project
			input(type='submit', name='project-type', value='Show Project')
	- else
		p Marlin is not looking at any projects at the moment.
include includes/scripts