border-radius()
	border-radius: arguments
	-webkit-border-radius: arguments
	-moz-border-radius: arguments

box-shadow()
	box-shadow: arguments
	-moz-box-shadow: arguments
	-webkit-box-shadow: arguments

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
	background-color startColor
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	
user-select()
	user-select: arguments
	-webkit-user-select: arguments
	-moz-user-select: arguments
	-o-user-select: arguments
	-ms-user-select: arguments

/**!
 * Stylesheet for Marlin
 */

/**
 * Contents
 * 	Common Elements
 *	Common Classes
 *	Structure
 * 	Project Selection
 * 	Custom Selector
 */

/* Common Elements */

body, html
	margin: 0
	padding: 0
	height: 100%

body
	background: #eee
	font-family: 'Lusitana', arial, verdana, sans-serif

form
	padding: 5px	

ul
	list-style: none
	margin: 0
	padding: 0

ul li
	margin: 5px 0 0 0

fieldset
	border: none
	padding: 0

legend
	display: none

h1
	border-bottom: 3px solid
	
h1
	margin: 5px 0 10px 0
	padding: 0 0 10px 0
	border-bottom: 3px solid #999

h2 a
	font-size: 14px
	margin: 0 0 0 20px


input[type="submit"] 
	border-radius: 3px
	background-linear-gradient(top, #FF8B17, 0%, #FD6B00, 100%)
	color: white
	border: none
	font-size: 12px
	font-weight: bold
	display: inline-block
	margin: 0
	vertical-align: top
	height: 40px

input[type="submit"]:hover
	cursor: pointer
	background-linear-gradient(top, #FE9B17, 0%, #FF7B00, 100%)

#island
	display: none

/* Common Classes */

.highlight
	font-weight: bold
	font-style: normal
	
.error, .success
	font-size: 14px

.error
	color: #D22918
	
.success
	color: #8AAC2A

.hidden
	display: none


/* Structure */

#page
	width: 960px
	padding: 0
	color: #2F2F2F
	margin: 0 auto
	background: #FFF
	box-shadow: 0 0 5px #888
	position: relative
	min-height: 100%

#content
	padding: 15px
	position: relative


/* Header */

#header 
	padding: 15px
	background: #1C3660
	text-align: center
	box-shadow: 0 0 30px #999

#header.home
	position: relative
	top: 300px
	
#header p
	color: #FFF
	
/* Project Selection */

#project-selection 
	display: inline-block
	vertical-align: top
	margin: 0 0 0 305px
	
.home #project-selection
	display: block
	margin: 30px auto 0 auto

#project-selection fieldset
	display: inline-block
	vertical-align: top

#project-selection input[type=submit]
	margin: 0 0 0 8px

#project-selection select
	width: 200px
	height: 40px
	background: #FFF

/* Custom Selector */

.fwselect 
	/* My additions */
	width:200px
	vertical-align: top
	/* end of additions */
	display:inline-block
	padding:0
	margin:0
	border:2px solid #c0c0c0
	border-radius: 3px
	background-linear-gradient(top, #FFF, 0%, #E0E0E0, 100%)
	font-size:0.8em
	font-weight:bold
	text-decoration:none
	-webkit-tap-highlight-color:rgba(0,0,0,0)
	user-select:none

.fwselect-drop-down 
	-webkit-border-bottom-left-radius: 0
	-webkit-border-bottom-right-radius: 0
	-moz-border-radius-bottomleft: 0
	-moz-border-radius-bottomright: 0
	border-radius: 5px 5px 0 0

.fwselect-drop-up 
	-webkit-border-top-left-radius: 0
	-webkit-border-top-right-radius: 0
	-moz-border-radius-topleft: 0
	-moz-border-radius-topright: 0
	border-radius: 0 0 5px 5px

.fwselect-focus,
.fwselect:hover 
	outline:0
	background-linear-gradient(top, #FFB566, 0%, #FF8B17, 100%)

.fwselect-disabled.fwselect-focus,
.fwselect-disabled.fwselect:hover
	background-linear-gradient(top, #FFF, 0%, #E0E0E0, 100%)

.fwselect-text 
	color:#606060
	display:inline-block
	padding:10px

.fwselect-focus .fwselect-text,
.fwselect:hover .fwselect-text 
	color:#ffffff

.fwselect-disabled .fwselect-text,
.fwselect-disabled:hover .fwselect-text
	color:#606060

.fwselect-disabled 
	-moz-opacity: 0.50
	opacity: 0.50

.fwselect-arrow 
	display: block
	float: right
	margin:15px 5px 0 0
	color:#606060
	border-color: #606060 transparent transparent transparent
	border-style:solid
	border-width:5px
	width:0
	height:0

.fwselect-focus .fwselect-arrow,
.fwselect-hover .fwselect-arrow,
.fwselect:hover .fwselect-arrow 
	border-color: #ffffff transparent transparent transparent

.fwselect-disabled.fwselect-focus .fwselect-arrow,
.fwselect-disabled.fwselect-hover .fwselect-arrow,
.fwselect-disabled.fwselect:hover .fwselect-arrow 
	border-color: #606060 transparent transparent transparent

.fwselect-menu 
	display:none
	position:absolute
	margin:0
	padding:0
	min-width:200px
	background-linear-gradient(top, #FFF, 0%, #E0E0E0, 100%)
	border:2px solid #c0c0c0
	border-radius: 5px
	font-size:0.8em
	font-weight:bold
	text-decoration:none
	

.fwselect-menu-open 
	display:block	

.fwselect-menu-drop-down 
	border-top:none
	-webkit-border-top-left-radius: 0
	-webkit-border-top-right-radius: 0
	-moz-border-radius-topleft: 0
	-moz-border-radius-topright: 0
	border-radius:0 0 5px 5px	

.fwselect-menu-drop-up 
	margin-top:2px
	border-bottom:none
	-webkit-border-bottom-left-radius: 0
	-webkit-border-bottom-right-radius: 0
	-moz-border-radius-bottomleft: 0
	-moz-border-radius-bottomright: 0
	border-radius:5px 5px 0 0

.fwselect-menu ul 
	display:block
	margin:0
	padding:0
	list-style-type:none

.fwselect-menu ul.fwselect-menu-list 
	overflow:auto

.fwselect-menu ul li 
	display:block
	margin:0
	padding:0

.fwselect-menu .fwselect-menu-group span 
	display:block
	background-color:#c0c0c0
	padding:5px
	color:#ffffff

.fwselect-menu ul li a.fwselect-menu-listitem 
	display:block
	padding:5px
	color:#606060
	text-decoration:none
	-webkit-tap-highlight-color:rgba(0,0,0,0)

.fwselect-menu .fwselect-menu-group a.fwselect-menu-listitem 
	padding:5px 5px 5px 10px	

.fwselect-menu ul li a.fwselect-menu-listitem-focus,
.fwselect-menu ul li a.fwselect-menu-listitem:hover 
	outline:0
	color:#ffffff
	background-color:#FF8B17
	background-linear-gradient(top, #FFB566, 0%, #FF8B17, 100%)

.fwselect-menu-scroll 
	position:absolute
	top:5px
	right:5px
	width:0
	height:50px
	border:2px solid #303030
	-moz-opacity: 0.50
	opacity: 0.50
	border-radius: 2px


/* Rule List Form */

.rule-options
	border-top: 2px dotted
	border-bottom: 3px solid

.rule-options input[type=submit]
	margin: 10px 0 0 120px

.rule-options h3
	padding: 10px
	color: #FFF
	margin: 0
	background: #1C3660
	border-bottom: 1px solid

.rule-options .collapsible h3
	background: #1C3660

.rule-options .collapsible h3 span
	display: block
	background: url(../images/arrow_down.png) no-repeat
	width: 20px
	height: 12px
	float: right
	margin: 8px 0 0 0

.rule-options h3.first
	border-radius: 3px 0 0 0

.rule-options h3.last
	border-radius: 0 0 0 3px

.rule-options .collapsible h3:hover
	cursor: pointer

.rule-options .collapsible.active h3
	background: #00274C

.rule-options .collapsible.active h3 span
	background: url(../images/arrow_up.png) no-repeat

.rule-options .hidden
	display: none

.rule-options ul
	display: inline-block
	vertical-align: top
	padding: 15px 15px 15px 20px
	border-left: 1px solid #DDD
	border-bottom: 1px solid #DDD
	box-shadow: 0 0 5px #CCC		

.rule-options input.error
	border: 2px solid #C42620
	box-shadow: 0 0 5px #C42620		

.rule-options li
	display: inline-block
	vertical-align: top
	width: 300px
	font-size: 12px
	padding: 2px 0 2px 0

.rule-options label
	width: 100px
	margin: 0 0 0 5px

.rule-options input
	margin: 0


/* Context and Latest JavaScript performance */

#latest-information
	border-bottom: 3px solid #444
	min-height: 165px
	
#latest-information .column
	display: inline-block
	vertical-align: top
	width: 465px
	padding: 0 0 25px 0
	
#latest-information li
	width: 380px

#javascript-performance
	margin: 0 0 0 -4px

.graph
	display: inline-block
	min-width: 500px
	vertical-align: top

.rule-options
	width: 350px
	display: inline-block
	position: relative
	border-top: none
	border-bottom: none
	padding: 0
	margin: 45px 0 0 64px

.date label
	width: 50px
	display: inline-block

/* Footer */

#footer
	padding: 10px
	background: #1C3660
	color: #FFF
	text-align: center
	margin: 0 auto


/* JQuery UI Styles */

.ui-tabs-hide
	display: none

.ui-tabs-panel
	min-height: 400px
	box-shadow: 0 0 5px #CCC	


/* Tabs */

.tab-navigation
	margin: 15px 0 0 0
	letter-spacing: -4px

.tab-navigation li
	display: inline-block
	padding: 0
	letter-spacing: 0
	margin: 0 0 0 3px

.tab-navigation li:first-child
	margin: 0

.tab-navigation a
	padding: 10px
	display: block
	color: #FFF
	text-decoration: none
	background: #3574B2
	border-radius: 3px 3px 0 0
	
.tab-navigation a:hover
	background: #26537F

.tab-navigation .ui-state-active a
	background: #00274C
	color: #EEE

.tab-page
	border: 1px solid #DDD
	padding: 10px 0 10px 10px

.tab-page .error
	text-align: right
	font-size: 20px
	margin: 0 100px 0 0

.tab-page .rule-options .error
	font-size: 14px
	margin: 5px 0 0 0
	text-align: left
	padding: 3px 3px 3px 3px
	
	
/* Alerts */

.tab-page .alerts .error
	margin: 0;
	text-align: left
	font-size: 16px

.tab-page .alerts{
	margin: 0 0 15px 0
}
	
	
/* 9.0 JQuery UI date picker */

.ui-datepicker
	border: 1px solid #DDD
	background: #FFF

.ui-datepicker-header
	padding: 10px
	color: #FFF
	background: #1C3660	

.ui-datepicker-title
	text-align: center

.ui-datepicker-next,
.ui-datepicker-prev
	float: left

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover
	cursor: pointer

.ui-datepicker-next span,
.ui-datepicker-prev span
	text-indent: -9999px
	display: inline-block
	width: 20px
	height: 20px

.ui-datepicker-next span
	background: url(../images/arrow_right.png) no-repeat

.ui-datepicker-prev span
	background: url(../images/arrow_left.png) no-repeat

.ui-datepicker-next
	float: right

.ui-datepicker-calendar
	border-collapse: collapse
	width: 300px

.ui-datepicker-calendar tr
	height: 30px

.ui-datepicker-calendar td
	border: 1px solid #CCC
	text-align: center

.ui-datepicker-calendar a
	display: block
	color: #013897

.ui-datepicker-calendar td:hover
	background-linear-gradient(top, #FF8B17, 0%, #FD6B00, 100%)

.ui-datepicker-calendar .ui-datepicker-unselectable:hover
	background: #FFF

.ui-datepicker-calendar td:hover a
	color: #FFF	


/* 10.0 Data table */
/*
* Styles to do with js fallback tables
*/


.statistics
	border-collapse: collapse
	width: 500px
	font-size: 12px
	margin: 30px 0 0 0
	
.graph .stastics
	margin: 45px 0 0 0

.statistics caption
	padding: 5px

.statistics td, .statistics th
	border: 1px solid #CCC
	padding: 2px

.statistics th
	background: #3574B2
	color: #FFF

.statistics td
	text-align: center

.statistics .time
	font-weight: bold


/* Export form */

#export
	position: absolute
	top: 15px
	right: 15px
	padding: 0
	margin: 0

#export input
	margin: 0
	
/* Overlay */

.overlay, .tab-overlay
	background: #FFF
	z-index: 100
	position: absolute

.overlay
	width: 500px
	height: 300px
	display: inline-block
	vertical-align: top
	opacity: 0.5
	z-index: 90

.tab-overlay
	width: 930px
	height: 400px

.tab-overlay .loader, .overlay .loader
	position: relative
	
.tab-overlay .loader
	top: 200px
	left: 465px

.overlay .loader
	top: 150px
	left: 250px

/* Build Page */

#build-form li
	padding: 10px 0 10px 0
	border-bottom: 1px dashed #DDD

#build-form .managers
	padding: 10px 0 10px 0

#build-form label
	width: 250px
	display: inline-block
	vertical-align: middle
	font-size: 16px

#build-form em
	font-style: normal
	font-weight: bold

#build-form input
	padding: 8px 0 8px 0
	width: 250px
	font-size: 16px
	
#manager-button, #manager, #build-form input[type=text]
	display: inline-block
	vertical-align: middle
	margin: 0 0 0 15px
	
#build-form input[type=submit]
	margin: 20px 0 0 265px
	width: 257px

#manager-button, #build-form select
	width: 250px
	
#build-form label.error
	margin: 0 0 0 30px

#build-form input.error, #manager-button.error
	border: 1px solid #C42620
	box-shadow: 0 0 5px #C42620
	